<footer>
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/images/Microcraft Logo.png" alt="Company Logo">
      </div>
      <div class="footer-links">
        <a routerLink="/">Home</a>
        <a routerLink="/about">About Us</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/contact">Contact</a>
      </div>
      <div class="footer-info">
        <h4>Contact Us:</h4>
        <p>Address: Satara, Maharashtra</p>
        <p>Phone: <a href="tel:8668206504">8668206504</a></p>
        <p>Email: <a href="mailto:microcraftsatara@gmail.com">microcraftsatara@gmail.com</a></p>
      </div>      
      <div class="social-media">
        <h4>Follow Us:</h4>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fab fa-x"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <div class="map-container">
        <h4>Our Location:</h4>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d913.2151121499813!2d74.02514498576042!3d17.680885077272396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2391010344ddb%3A0x7de1a077dad65675!2sMicrocraft%20Enterprises!5e1!3m2!1sen!2sin!4v1729322585268!5m2!1sen!2sin"
          width="600" height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"></iframe>
      </div>
    </div>
  </footer>
  