<header>
  <!-- Centered navigation links -->
  <div class="navbar-container">
    <ul class="navbar">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>

  <!-- Right-aligned email -->
  <div class="header_email">
    <a href="mailto:microcraftsatara@gmail.com">microcraftsatara@gmail.com</a>
  </div>

  <div class="header_mobile">

  </div>
</header>
